.comparar-main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-forms {
  width: 100%;
  height: 70%;
  display: flex;
  padding: 50px;
  justify-content: space-around;
  gap: 50px;
}

.comparar-content {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 2px gray;
  gap: 10px;
  flex-grow: 1;
  padding: 50px;
  justify-content: center;
  border: 1px solid gray;
}

.comparar-content h1 {
  color: var(--primary-color);
  font-weight: var(--font-text-titles);
}

.comparar-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.comparar-content form input {
  padding: 5px 15px;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

.comparar-content form label {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.comparar-content form label span {
  font-weight: var(--font-text-titles);
}

.comparar-main button {
  min-width: 20%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: var(--font-text-titles);
  align-self: center;
}

.comparar-main button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.cards-resultados {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
}

.card {
  border: 1px solid black;
}

.cards-resultados div{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 10px;
  border-radius: 10px;
}

.cards-resultados div h3{
  color: blue;
}