

.dashboard-nav {
  height: 10%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: end;
  padding-right: 50px;
  align-items: center;
  width: 100%;
}

.dashboard-opcoes a {
  
  display: block;      
  cursor: pointer;
}

.dashboard-nav nav {
  display: flex;
  gap: 15px;
  max-height: 40%;
}

.dashboard-nav button {
  padding: 10px;
  width: 150px;
  background-color: var(--secondary-gray);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: var(--font-text-titles);
}

.dashboard-main {
  height: 90%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-noticias {
  height: 100%;
}

.dashboard-main h1 {
  margin: 0;
}

.dashboard-main .ask {
  color: var(--primary-color);
  font-weight: bolder;
}

.dashboard-opcoes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
}

.opcoes {
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  gap: 15px;
  box-shadow: 0px 3px 5px gray;
  border-radius: 10px;
  justify-content: center;  /* centraliza verticalmente */
  align-items: center;
  flex-basis: 24%;
  max-width: 24%;
  text-decoration: none; 
  color: inherit;
}

.opcoes h3 {
  text-align: center;
}

.opcoes img {
  height: 60px;
  display: block;
  margin: 0 auto;     
}

.opcoes:hover,
.dashboard-nav button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.dashboard-noticias {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-noticias h1 {
  margin: 0;
  color: var(--primary-color);
}

.dashboard-noticias .conteudo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 1px 5px;
    padding: 30px;
}

.dashboard-noticias .conteudo .hora {
    align-self: end;
}

.dashboard-noticias {
  padding: 20px;
  margin-top: 40px;
}

.noticias-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.noticia-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.noticia-card:hover {
  transform: translateY(-5px);
}

.noticia-card img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

.noticia-card h2 {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 600;
}

.noticia-card p {
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
}

.noticia-card .hora {
  font-size: 12px;
  color: #777;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  left: 0;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
  padding: 10px 0;
  z-index: 10;
  width: 150px;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--primary-color);
}

.dropdown-item:hover {
  background: #f3f3f3;
}
