.historico-nav {
    display: flex;
    gap: 10px;
    padding: 20px;
    height: 10%;
    align-items: center;
}

.historico-nav h1 {
    color: var(--primary-color);
}

.historico-main {
    display: flex;
    padding: 30px 100px;
    flex-wrap: wrap;
    gap: 50px;
}

.historico-registro {
    flex-grow: 1;
    box-shadow: 0 0 5px gray;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    align-items: center;
    gap: 15px;
    max-width: 30%;
    border-radius: 10px;
}

.historico-cabecalho h1 {
    margin: 0;
}

.historico-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.historico-dinheiro {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.historico-data {
    display: flex;
    gap: 20px;
}

.historico-juros {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.historico-apagar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.historico-apagar button {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: var(--font-text-titles);
    padding: 10px 50px;
    font-size: 18px;
}

.historico-dinheiro h3, .historico-cabecalho h1,.historico-juros h3 {
    color: var(--primary-color);
}

.historico-nav img:hover, .historico-apagar button:hover {
    transform: scale(1.1);
    cursor: pointer;
}