body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inflacao-nav {
  height: 10%;
  padding: 20px;
}

.inflacao-main {
  height: 90%;
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 30px;
}

.inflacao-simular {
  flex-grow: 1;
  max-width: 50%;
  min-width: 660px;
}

.inflacao-grafico {
  flex-grow: 1;
  box-shadow: 0 0 5px gray;
  border-radius: 10px;
  min-width: 660px;
  padding: 10px;
}

.inflacao-simular {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px solid var(--primary-color);
  align-items: center;
  padding: 15px;
}

.inflacao-simular h1 {
  color: var(--primary-color);
}

.inflacao-simular form {
  display: flex;
  flex-wrap: wrap;
}
.inflacao-simular form div {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 0px 20px;
}

.inflacao-simular form div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inflacao-simular form div label {
  display: flex;
  flex-direction: column;
}

.inflacao-simular button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: var(--font-text-titles);
  padding: 10px 50px;
}

.inflacao-simular input,
.inflacao-simular select {
  padding: 10px 50px;
}

.inflacao-simular .inflacao-juros {
  display: flex;
  flex-direction: column;
}

.inflacao-simular button:hover,
.inflacao-nav img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
