.investimento-nav {
  height: 10%;
  padding: 20px;
}

.investimento-main {
  height: 50%;
  display: flex;
  padding: 20px;
  gap: 20px;

  align-items: center;
}

.investimento-simular {
  flex-grow: 1;
  max-width: 50%;
}

.investimento-grafico {
  flex-grow: 1;
  box-shadow: 0 0 5px gray;
  border-radius: 10px;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap:  20px;
}

.investimento-simular {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px solid var(--primary-color);
  align-items: center;
  padding: 15px;
}

.investimento-simular h1 {
  color: var(--primary-color);
}

.investimento-simular form {
  display: flex;
  flex-wrap: wrap;
}

.investimento-simular form div {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 0px 20px;
}

.investimento-simular form div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.investimento-simular form div label {
  display: flex;
  flex-direction: column;
}

.investimento-simular button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: var(--font-text-titles);
  padding: 10px 50px;
}

.investimento-simular input,
.investimento-simular select {
  padding: 10px 50px;
}

.investimento-simular .investimento-juros {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.investimento-simular button:hover,
.investimento-nav img:hover, .investimento-grafico button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.investimento-parcelas {
  padding: 20px;
}

.investimento-parcelas h1 {
  color: var(--primary-color);
}

.investimento-parcelas h3 {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 50px;
  border-radius: 10px;
  max-width: 47%;
}


.investimento-grafico button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: var(--font-text-titles);
  padding: 10px 50px;
  align-self: center;
}