main {
  height: 100%;   
  display: flex;
}

.nav-login {
  flex-grow: 1;
  flex-basis: 50%;
  background-color: burlywood;
}

.form-login {
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.form-login form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  max-width: 50%;
  padding: 110px 35px 60px 35px;
  border-radius: 5px;
  gap: 30px;
  width: 55%;
}

.form-login label {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.form-login button {
  margin-top: 15px;
  max-width: 60%;
  min-width: 40%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.img-label-login {
  max-width: 15px;
}

.form-login input {
  padding: 10px 25px;
  border-radius: 5px;
}

.form-login .link-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-login .link-login a {
  text-decoration: none;
  color: var(--secondary-color);
}