main {
  height: 100%;
  display: flex;
}

.nav-login {
  flex-grow: 1;
  flex-basis: 50%;
  background-color: #fff;
  padding: 20px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-login {
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 50% 0px 0px 50%;
}

.form-login form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  max-width: 50%;
  padding: 100px 35px 45px 35px;
  border-radius: 5px;
  gap: 30px;
  width: 55%;
}

.form-login label {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 5px;
  color: var(--secondary-color);
  font-weight: 700;
}

.form-login button {
  margin-top: 15px;
  max-width: 60%;
  min-width: 40%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: var(--font-text-titiles);
}

.form-login button:hover {
  transform: scale(1.05);
}

.img-label-login {
  max-width: 15px;
}

.form-login input {
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: var(--font-text-normal);
}

.form-login .link-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-login .link-login a {
  text-decoration: none;
  color: var(--secondary-color);
}

.form-login .link-login a:hover {
  transform: scale(1.05);
}

.form-login label span {
  display: flex;
  gap: 5px;
}

.nav-login .title-login {
  display: flex;
  gap: 10px;
}

.nav-login .title-login img:hover,
.nav-login .title-login h1:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.nav-login .logo-login img {
  max-width: 150px;
}

.nav-login .logo-login img:hover {
  max-width: 150px;
  transform: scale(1.1);
}