.register-main {
  height: 100%;
  display: flex;
}

.nav-register {
  flex-grow: 1;
  flex-basis: 50%;
  background-color: #fff;
  padding: 20px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.form-register {
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 0px 50% 50% 0px;
  flex-direction: column;
  padding: 10px;
}

.form-register form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  max-width: 50%;
  padding: 100px 35px 45px 35px;
  border-radius: 5px;
  gap: 30px;
  width: 55%;
}

.form-register label {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 5px;
  color: var(--secondary-color);
  font-weight: 700;
}

.form-register button {
  margin-top: 15px;
  max-width: 60%;
  min-width: 40%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: var(--font-text-titles);
}

.form-register button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.img-label-register {
  max-width: 15px;
}

.form-register input {
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: var(--font-text-normal);
}

.form-register .link-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-register .link-register a {
  text-decoration: none;
  color: var(--secondary-color);
}

.form-register .link-register a:hover {
  transform: scale(1.05);
}

.form-register label span {
  display: flex;
  gap: 5px;
}

.title-register {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  align-self: flex-start;
}

.title-register img:hover,
.title-register h1:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nav-register .logo-register img {
  max-width: 150px;
}

.nav-register .logo-register img:hover {
  max-width: 150px;
  transform: scale(1.1);
  cursor: pointer;
}

.title-register img {
  width: 40px;
  height: 40px;
}
